<<<<<<< HEAD
----
/* algo de JS va , creo yo */
-----

<html lang="es">
    <head>
        <meta charset="UTF-8"   />
        <title>Portafolio</title>
    </head>
    <body>
    <h1>¡Bienvenido a mi portafolio!</h1>
    <p>Este es mi portafolio hecho con Astro</p>
    </body>
</html>
=======
<h1>hola</h1>
>>>>>>> 14a6c74cdf7c730963836079cce73368732d225a
